Inserisci i tuoi pronostici per la <%= @giornata.nome_breve %>ª giornata di <%= @campionato.nome_campionato %><br />

<%= form_tag :action => :create_plus, :method => :post do %>
		<ul>
			<% @bets.each_with_index do |bet, index| %>
				<li>
					<%= fields_for "bets[#{index}]", bet do |f| %>
					  	<%= f.hidden_field :user_id %>
					  	<%= f.hidden_field :game_id %>
						<%= f.hidden_field :round_id %>
						<%= f.hidden_field :champion_id %>
					  	<div class="partita span-12">
							<%=h @squadre_casa_sponsor[index] %> - <%=h @squadre_fuori_sponsor[index] %>
							</div>
						<div class="scommessa span-3 last">
							<%= f.radio_button :bid, "1" %>  <%= f.radio_button :bid, "2" %>
						</div>
					<% end %>
				</li>
			<% end %><!-- each loop -->
		</ul>
	<div class="submit prepend-9 span-3 last">
		<%= submit_tag 'Gioca'%>
	</div>	
<% end %>