<% title "Champions" %>

<table>
  <tr>
    <th>Nome Campionato</th>
    <th>Priority</th>
    <th>Ambito</th>
  </tr>
  <% for champion in @champions %>
    <tr>
      <td><%= champion.nome_campionato %></td>
      <td><%= champion.priority %></td>
      <td><%= champion.ambito %></td>
      <td><%= link_to "Show", champion %></td>
      <td><%= link_to "Edit", edit_champion_path(champion) %></td>
      <td><%= link_to "Destroy", champion, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Champion", new_champion_path %></p>
